<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>


    <title>Plataforma de Contenido Multimedia| Web oficial</title>
    <meta name="description" content="Plataforma para visualizar todo tipo de contenidos multimedia">
    <meta charset="utf-8">
    <meta name="publisher" content="Pillalas.com https://www.pillalas.com"/>
    <meta name="copyright" content="Copyright 2024 Por David Bachiller"/>
    <meta name="author" content="David Bachiller Vela"/>


    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.multicinesguadalajara.com"/>
    <meta property="og:title" content="Plataforma de Contenido Multimedia | Web oficial"/>
    <meta property="og:description" content="Plataforma para visualizar todo tipo de contenidos multimedia"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->

    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet">
    <!-- styles needed for carousel slider -->
    <link th:href="@{/css/fontawesome.min.css}" href="../static/css/fontawesome.min.css" rel="stylesheet">
    <link th:href="@{/css/multicines.css}" href="../static/css/multicines.css" rel="stylesheet">


</head>
<body>
<div id="wrapper" class="d-flex flex-column">
    <div class="header">
        <nav class="navbar fixed-top navbar-site navbar-light bg-light navbar-expand-lg" role="navigation">
            <div class="container">
                <div class="form-group">
                    <input type="text" id="search-input" class="form-control form-control-lg"
                           placeholder="Buscar Carreras...">

                </div>
                <div class="navbar-collapse collapse" style="height: auto;">
                    <ul class="nav navbar-nav ml-auto navbar-right">
                        <li class="nav-item"><a th:href="@{/api/peliculas/}" class="nav-link">PELÍCULAS</a></li>
                        <li class="nav-item"><a th:href="@{/api/F1/}" class="nav-link">CARRERAS DE F1</a></li>
                        <li class="nav-item"><a th:href="@{/api/FootballContent/}" class="nav-link">PARTIDOS DE FÚTBOL</a></li>
                        <li class="nav-item"><a th:href="@{/api/LiveContent/}" class="nav-link">CONTENIDO EN DIRECTO</a></li>
                        <li class="nav-item"><a th:href="@{/api/ChatCommunity/}" class="nav-link">COMUNIDADES</a></li>
                        <li class="nav-item"><a th:href="@{/api/userProfile/}" class="nav-link">PERFIL</a></li>
                        <li class="nav-item"><a th:href="@{/api/users/logout}" class="nav-link">INICIAR/CERRAR SESIÓN</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <!-- /.header -->
    <div class="main-container inner-page flex-fill " style="padding-top: 30px !important;">
        <div class="container">
            <div th:if="${successMessage}" class="alert alert-success wc_notice" th:text="${successMessage}"></div>
            <!-- Mensaje de error -->
            <div th:if="${errorMessage}" class="alert alert-danger wc_notice" th:text="${errorMessage}"></div>
            <!-- Resultados de búsqueda -->
            <div id="search-results"></div>
            <!-- Lista de Carreras ordenadas por año -->
            <div class="white-box">
                <h3 class="titulo-cine">ELIGE LA CARRERA</h3>

                <div class="row">
                    <!-- Iteración sobre películas -->
                    <div th:each="listaf1 : ${listaf1}" class="col-6 col-sm-4 col-md-3 col-xl-2dot4 mb20">
                        <div class="card card-event info-overlay">

                            <h1 class="tag" th:text="${listaf1.getNombreContenido()}"></h1>

                            <div class="img has-background">
                                <a th:href="@{'/api/F1/' + ${listaf1.getNombreContenido()}}" class="event-pop-link">
                                    <div class="event-pop-info">
                                        <p class="price" style="font-size:1.1em; padding: 5px;"
                                           th:text="${listaf1.getNombreContenido()}"></p>
                                        <span style="font-size: 0.90em; background-color: #53234f;"
                                              class="badge badge-primary">VER CARRERA</span><br/><br/>
                                    </div>
                                </a>

                                <a href="pelicula/oppenheimer"><img class="img-responsive"
                                                                    th:src="@{'/' + ${listaf1.getUrl_image}}"/>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div th:if="${roles != null and #lists.contains(roles, 'ADMIN')}" class="col-6 col-sm-4 col-md-3 col-xl-2dot4 mb20" >
                        <div class="card card-event info-overlay">

                            <h1 class="tag">Añadir Carrera</h1>

                            <div class="img has-background">
                                <a th:href="@{'/api/F1/añadirCarrera'}" class="event-pop-link">
                                    <div class="event-pop-info">
                                        <p class="price" style="font-size:1.1em; padding: 5px;"> Pulsa para agregar un
                                            nuevo contenido</p>
                                        <span style="font-size: 0.90em; background-color: #53234f;"
                                              class="badge badge-primary">AÑADIR CONTENIDO</span><br/><br/>
                                    </div>
                                </a>

                                <a th:href="@{/images/Peliculas/agregar.png}"><img class="img-responsive"
                                                                                   th:src="@{/images/Peliculas/agregar.png}"/></a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('#search-input').on('input', function () {
            var query = $(this).val();
            var url = query ? '/api/F1/search/realtime' : '/api/F1/';
            $.ajax({
                url: url,
                data: {
                    query: query
                },
                success: function (data) {
                    // Vacía el contenedor de resultados de búsqueda
                    $('#search-results').empty();

                    // Crea un nuevo elemento de película para cada resultado de la búsqueda
                    var F1Element = `
                        <div class="white-box">
                            <h3 class="titulo-cine">RESULTADOS DE BÚSQUEDA</h3>
                            <div class="row">
                    `;

                    $.each(data, function (index, f1) {
                        F1Element += `
                            <div class="col-6 col-sm-4 col-md-3 col-xl-2dot4 mb20">
                                <div class="card card-event info-overlay">
                                    <h1 class="tag">${f1.nombreContenido}</h1>
                                    <div class="img has-background">
                                        <a href="/api/F1/${f1.nombreContenido}" class="event-pop-link">
                                            <div class="event-pop-info">
                                                <p class="price" style="font-size:1.1em; padding: 5px;">${f1.nombreContenido}</p>
                                                <span style="font-size: 0.90em; background-color: #53234f;" class="badge badge-primary">VER CONTENIDO</span><br/><br/>
                                            </div>
                                        </a>
                                        <a href="/api/F1/${f1.nombreContenido}"><img class="img-responsive" src="/${f1.url_image}"/></a>
                                    </div>
                                </div>
                            </div>
                        `;
                    });

                    F1Element += `
                            </div>
                        </div>
                    `;

                    // Agrega todos los elementos de película al contenedor de resultados de búsqueda
                    $('#search-results').append(F1Element);
                }
            });
        });
    });
</script>

</body>
</html>
