<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Web oficial</title>
    <meta charset="utf-8">


    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet">
    <!-- styles needed for carousel slider -->
    <link th:href="@{/css/fontawesome.min.css}" href="../static/css/fontawesome.min.css" rel="stylesheet">
    <link th:href="@{/css/multicines.css}" href="../static/css/multicines.css" rel="stylesheet">


</head>
<body>

<div id="wrapper" class="d-flex flex-column">
    <div class="header">
        <nav class="navbar fixed-top navbar-site navbar-light bg-light navbar-expand-lg" role="navigation">
            <div class="container">
                <div class="navbar-identity">

                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggler pull-right"
                            type="button">
                    </button>
                </div>
                <div class="navbar-collapse collapse" style="height: auto;">
                    <ul class="nav navbar-nav ml-auto navbar-right">
                        <li class="nav-item"><a th:href="@{/api/FootballContent/}" class="nav-link">VOLVER AL MENU
                            PRINCIPAL</a></li>
                        <li class="nav-item"><a th:href="@{/api/users/}" class="nav-link">REGISTRARSE</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="main-container inner-page flex-fill " style="padding-top: 30px !important;">
        <div class="container">


            <div class="row clearfix">
                <h1 class="text-center title-1" th:text="${footballContent.getNombreContenido()}"></h1>
                <hr class="mx-auto small text-hr" style="margin-bottom: 30px !important">

                <div style="clear:both">
                    <hr>
                </div>
            </div>


            <div class="white-box" style="padding:15px">
                <h3 class="titulo-cine" th:text="${footballContent.getNombreContenido()}"></h3>
                <div class="row mb20">
                    <div class="col-3 d-none d-md-block">

                        <a th:src="@{'/' + ${footballContent.getUrl_image()}}" data-toggle="lightbox"><img
                                class="img-responsive"
                                style="width: 262px;"
                                th:src="@{'/' + ${footballContent.getUrl_image()}}"/></a>


                    </div>
                    <div class="col-6 d-none d-md-block">
                        <iframe width="100%" height="350" th:src="${footballContent.getUrl_video()}"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </div>
                    <div class="col-3 d-none d-md-block" style="padding-left: 10px;">
                        <ul class="list-unstyled">
                            <li><p class="text-muted">Año:<br><strong class="text-dark"
                                                                      th:text="${footballContent.getAnho()}"></strong>
                            </p></li>

                            <li><p class="text-muted">Estadio:<br><strong class="text-dark"
                                                                          th:text="${footballContent.getEstadio()}"></strong>
                            </p></li>

                            <li><p class="text-muted">Competición:<br><strong class="text-dark"
                                                                              th:text="${footballContent.getCompeticion()}"></strong>
                            </p></li>
                            <li><p class="text-muted">Equipos:<br><strong class="text-dark"
                                                                          th:text="${footballContent.getEquipos()}"></strong>
                            </p></li>
                            <li><p class="text-muted">Jugadores:<br><strong class="text-dark"
                                                                            th:text="${footballContent.getJugadores()}"></strong>
                            </p></li>
                            <li><p class="text-muted">Otros Datos:<br><strong class="text-dark"
                                                                              th:text="${footballContent.getOtrosDatos()}"></strong>
                            </p></li>


                        </ul>
                    </div>
                    <div class="col-4 d-md-none">

                        <span data-toggle="modal" data-target="#trailer" class="btn btn-primary"
                              style="padding-top: 10px; margin-top: 10px; display: block; padding-bottom: 10px;">TRAILER <i
                                class="fa fa-play" style="margin-left: 2px;"></i></span>
                    </div>

                </div>
                <div class="row mb30">
                    <div class="col-sm-12">
                        <span class="text-muted">Descripción:</span>
                        <p th:text="${footballContent.getDescripcion()}"></p>
                    </div>
                </div>
                <div th:if="${session != null}">
                    <h3 class="titulo-cine">COMENTARIOS</h3>
                    <div class="comentarios">
                        <!-- Sección para hacer comentario -->
                        <form th:action="@{'/api/ComentariosFootball/CrearComentarioFootabll/' + ${footballContent.nombreContenido}}"
                              method="post">
                            <!-- Otros campos del formulario -->

                            <label for="textoComentario">Comentario:</label>
                            <textarea id="textoComentario" name="textoComentario" required></textarea>
                            <button type="submit">Enviar Comentario</button>
                        </form>
                        <br><br>
                        <!-- Sección para mostrar comentarios -->
                        <div th:each="comentario : ${comentarios}" class="comentario">
                            <h4 th:text="${comentario.getUsuario().getNickname()}"></h4>
                            <div class="comentario-content">
                                <p th:text="${comentario.texto}" class="comentario-texto"></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#trailer").on('hidden.bs.modal', function (e) {
            $("#trailer iframe").attr("src", $("#trailer iframe").attr("src"));
        });
    })
</script>
</body>
</html>
