<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Web oficial</title>
    <meta charset="utf-8">


    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet">
    <!-- styles needed for carousel slider -->
    <link th:href="@{/css/fontawesome.min.css}" href="../static/css/fontawesome.min.css" rel="stylesheet">
    <link th:href="@{/css/multicines.css}" href="../static/css/multicines.css" rel="stylesheet">


</head>
<body>

<div id="wrapper" class="d-flex flex-column">
    <div class="header">
        <nav class="navbar fixed-top navbar-site navbar-light bg-light navbar-expand-lg" role="navigation">
            <div class="container">
                <div class="navbar-identity">

                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggler pull-right"
                            type="button">
                    </button>
                </div>
                <div class="navbar-collapse collapse" style="height: auto;">
                    <ul class="nav navbar-nav ml-auto navbar-right">
                        <li class="nav-item"><a th:href="@{/api/FootballContent/}" class="nav-link">VOLVER AL MENU
                            PRINCIPAL</a></li>
                        <li class="nav-item"><a th:href="@{/api/users/}" class="nav-link">REGISTRARSE</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="main-container inner-page flex-fill " style="padding-top: 30px !important;">
        <div class="container">

            <div th:if="${successMessage}" class="alert alert-success wc_notice" th:text="${successMessage}"></div>
            <!-- Mensaje de error -->
            <div th:if="${errorMessage}" class="alert alert-danger wc_notice" th:text="${errorMessage}"></div>

            <div class="row clearfix">
                <h1 class="text-center title-1" th:text="${footballContent.getNombreContenido()}"></h1>
                <hr class="mx-auto small text-hr" style="margin-bottom: 30px !important">

                <div style="clear:both">
                    <hr>
                </div>
            </div>


            <div class="white-box" style="padding:15px">
                <h3 class="titulo-cine" th:text="${footballContent.getNombreContenido()}"></h3>
                <div class="row mb20">
                    <div class="col-3 d-none d-md-block">

                        <a th:src="@{'/' + ${footballContent.getUrl_image()}}" data-toggle="lightbox"><img
                                class="img-responsive"
                                style="width: 262px;"
                                th:src="@{'/' + ${footballContent.getUrl_image()}}"/></a>


                    </div>
                    <div class="col-6 d-none d-md-block">
                        <iframe width="100%" height="350" th:src="${footballContent.getUrl_video()}"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </div>
                    <div class="col-3 d-none d-md-block" style="padding-left: 10px;">
                        <ul class="list-unstyled">
                            <li><p class="text-muted">Año:<br><strong class="text-dark"
                                                                      th:text="${footballContent.getAnho()}"></strong>
                            </p></li>

                            <li><p class="text-muted">Estadio:<br><strong class="text-dark"
                                                                          th:text="${footballContent.getEstadio()}"></strong>
                            </p></li>

                            <li><p class="text-muted">Competición:<br><strong class="text-dark"
                                                                              th:text="${footballContent.getCompeticion()}"></strong>
                            </p></li>
                            <li><p class="text-muted">Equipos:<br><strong class="text-dark"
                                                                          th:text="${footballContent.getEquipos()}"></strong>
                            </p></li>
                            <li><p class="text-muted">Jugadores:<br><strong class="text-dark"
                                                                            th:text="${footballContent.getJugadores()}"></strong>
                            </p></li>
                            <li><p class="text-muted">Otros Datos:<br><strong class="text-dark"
                                                                              th:text="${footballContent.getOtrosDatos()}"></strong>
                            </p></li>


                        </ul>
                    </div>
                    <div class="col-4 d-md-none">

                        <span data-toggle="modal" data-target="#trailer" class="btn btn-primary"
                              style="padding-top: 10px; margin-top: 10px; display: block; padding-bottom: 10px;">TRAILER <i
                                class="fa fa-play" style="margin-left: 2px;"></i></span>
                    </div>

                </div>
                <div class="row mb30">
                    <div class="col-sm-12">
                        <span class="text-muted">Descripción:</span>
                        <p th:text="${footballContent.getDescripcion()}"></p>
                    </div>
                </div>
                <div th:if="${#lists.contains(roles, 'USER')}">
                    <h3 class="titulo-cine">COMENTARIOS</h3>
                    <div class="comentarios">
                        <!-- Sección para hacer comentario -->
                        <div th:if="${session.user.planSuscripcion != 'Gratis'}">
                            <form th:action="@{'/api/ComentariosFootball/CrearComentarioFootabll/' + ${footballContent.nombreContenido}}"
                                  method="post">
                                <label for="textoComentario">Comentario:</label>
                                <textarea id="textoComentario" name="textoComentario" required></textarea>

                                <button type="submit">Enviar Comentario</button>
                            </form>
                        </div>
                        <br><br>
                        <!-- Sección para mostrar comentarios -->
                        <div th:each="comentario : ${comentarios}" class="comentario">
                            <h4 th:text="${comentario.getUsuario().getNickname()}"></h4>
                            <div class="comentario-content">
                                <p th:text="${comentario.texto}" class="comentario-texto"></p>
                            </div>
                        </div>

                    </div>
                </div>
                <div th:if="${#lists.contains(roles, 'ADMIN')}" class="container mt-5">
                    <!-- Contenido visible solo para administradores -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="titulo-cine">PANEL DE ADMINISTRADOR - ACTUALIZAR CONTENIDO</h3>
                        </div>
                        <div class="card-body">
                            <form th:action="@{'/api/FootballContent/update/' + ${footballContent.nombreContenido}}"
                                  method="post"
                                  class="row g-3">

                                <div class="col-md-6 mb-3">
                                    <label for="nombreContenido" class="form-label">Nombre Contenido:</label>
                                    <input type="text" id="nombreContenido" name="nombreContenido"
                                           th:value="${footballContent.nombreContenido}" required class="form-control">
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="descripcion" class="form-label">Descripcion:</label>
                                    <input type="text" id="descripcion" name="descripcion"
                                           th:value="${footballContent.descripcion}" required class="form-control">
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="url_image" class="form-label">URL Imagen:</label>
                                    <input type="text" id="url_image" name="url_image"
                                           th:value="${footballContent.url_image}"
                                           required class="form-control">
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="url_video" class="form-label">URL Video:</label>
                                    <input type="text" id="url_video" name="url_video"
                                           th:value="${footballContent.url_video}"
                                           required class="form-control">
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="anho" class="form-label">Año:</label>
                                    <input type="number" id="anho" name="anho" th:value="${footballContent.anho}"
                                           required
                                           class="form-control">
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="estadio" class="form-label">Estadio:</label>
                                    <input type="text" id="estadio" name="estadio"
                                           th:value="${footballContent.estadio}" required class="form-control">
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="equipos" class="form-label">Equipos:</label>
                                    <input type="text" id="equipos" name="equipos" th:value="${footballContent.equipos}"
                                           required
                                           class="form-control">
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="competicion" class="form-label">Competicion:</label>
                                    <input type="text" id="competicion" name="competicion"
                                           th:value="${footballContent.competicion}"
                                           required
                                           class="form-control">
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="duracion" class="form-label">Duración:</label>
                                    <input type="number" id="duracion" name="duracion"
                                           th:value="${footballContent.duracion}"
                                           required class="form-control">
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="jugadores" class="form-label">Jugadores:</label>
                                    <input type="text" id="jugadores" name="jugadores"
                                           th:value="${footballContent.jugadores}" required class="form-control">
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="otrosDatos" class="form-label">Otros Datos:</label>
                                    <input type="text" id="otrosDatos" name="otrosDatos"
                                           th:value="${footballContent.otrosDatos}"
                                           required class="form-control">
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Actualizar Partido</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#trailer").on('hidden.bs.modal', function (e) {
            $("#trailer iframe").attr("src", $("#trailer iframe").attr("src"));
        });
    })
</script>
</body>
</html>
