<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>


    <title>Plataforma de Contenido Multimedia| Web oficial</title>
    <meta name="description" content="Plataforma para visualizar todo tipo de contenidos multimedia">
    <meta charset="utf-8">
    <meta name="publisher" content="Pillalas.com https://www.pillalas.com"/>
    <meta name="copyright" content="Copyright 2024 Por David Bachiller"/>
    <meta name="author" content="David Bachiller Vela"/>


    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.multicinesguadalajara.com"/>
    <meta property="og:title" content="Plataforma de Contenido Multimedia | Web oficial"/>
    <meta property="og:description" content="Plataforma para visualizar todo tipo de contenidos multimedia"/>


    <!-- Bootstrap core CSS -->

    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet">
    <!-- styles needed for carousel slider -->
    <link th:href="@{/css/fontawesome.min.css}" href="../static/css/fontawesome.min.css" rel="stylesheet">
    <link th:href="@{/css/multicines.css}" href="../static/css/multicines.css" rel="stylesheet">


</head>
<body>
<div id="wrapper" class="d-flex flex-column">
    <div class="header">
        <nav class="navbar fixed-top navbar-site navbar-light bg-light navbar-expand-lg" role="navigation">
            <div class="container">
                <div class="navbar-identity">
                    <a href="/" class="navbar-brand logo logo-title">
                        <img th:src="@{/images/Logo.PNG}" style="width:200px; height: 50px" /></a>

                </div>
                <div class="navbar-collapse collapse" style="height: auto;">
                    <ul class="nav navbar-nav ml-auto navbar-right">
                        <li class="nav-item"><a href="#" class="nav-link">PELÍCULAS</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">PARTIDOS DE FÚTBOL</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">CARRERAS DE F1</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">CONTENIDO EN DIRECTO</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">COMUNIDADES</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">PERFIL</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">INICIAR SESIÓN</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <!-- /.header -->
    <div class="main-container inner-page flex-fill " style="padding-top: 30px !important;">
        <div class="container">

            <div class="white-box">
                <h3 class="titulo-cine">ELIGE LA PELICULA</h3>
                <div class="row">
                    <div th:each="pelicula : ${listaPeliculas}"  class="col-6 col-sm-4 col-md-3 col-xl-2dot4 mb20">
                        <div class="card card-event info-overlay">

                            <h1 class="tag" th:text="${pelicula.getCalificacion()}"></h1>

                            <div class="img has-background">
                                <a th:href="@{'/api/peliculas/' + ${pelicula.getNombreContenido()}}" class="event-pop-link">
                                    <div class="event-pop-info">
                                        <p class="price" style="font-size:1.1em; padding: 5px;" th:text="${pelicula.getNombreContenido()()}"></p>
                                        <span style="font-size: 0.90em; background-color: #53234f;"
                                              class="badge badge-primary">VER CONTENIDO</span><br/><br/>
                                    </div>
                                </a>

                                <a href="pelicula/oppenheimer"><img class="img-responsive" th:src="@{'/' + ${pelicula.getUrl_image}}"/>
                                </a>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

</body>
</html>
