<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/profileImage.css}" href="../static/css/profileImage.css">
</head>
<body>
<div id="cards">
    <div class="card" data-color="red">
        <a th:href="@{/api/userProfile/selectProfilePicture/nano.png}">
        <img class="card-front-image card-image" src="/images/Perfil/nano.png" />
        <div class="card-faders">
            <img class="card-fader card-image" src="/images/Perfil/nano.png" />
            <img class="card-fader card-image" src="/images/Perfil/nano.png" />
            <img class="card-fader card-image" src="/images/Perfil/nano.png" />
            <img class="card-fader card-image" src="/images/Perfil/nano.png" />
            <img class="card-fader card-image" src="/images/Perfil/nano.png" />
            <img class="card-fader card-image" src="/images/Perfil/nano.png" />
            <img class="card-fader card-image" src="/images/Perfil/nano.png" />
            <img class="card-fader card-image" src="/images/Perfil/nano.png" />
        </div>
        </a>
    </div>
    <div class="card" data-color="green">
        <a th:href="@{/api/userProfile/selectProfilePicture/ironMan.png}">
        <img class="card-front-image card-image" src="/images/Perfil/ironMan.png" />
        <div class="card-faders">
            <img class="card-fader card-image" src="/images/Perfil/ironMan.png" />
            <img class="card-fader card-image" src="/images/Perfil/ironMan.png" />
            <img class="card-fader card-image" src="/images/Perfil/ironMan.png" />
            <img class="card-fader card-image" src="/images/Perfil/ironMan.png" />
            <img class="card-fader card-image" src="/images/Perfil/ironMan.png" />
            <img class="card-fader card-image" src="/images/Perfil/ironMan.png" />
            <img class="card-fader card-image" src="/images/Perfil/ironMan.png" />
            <img class="card-fader card-image" src="/images/Perfil/ironMan.png" />
        </div>
        </a>
    </div>
    <div class="card" data-color="blue">
        <a th:href="@{/api/userProfile/selectProfilePicture/messiCr7.png}">
        <img class="card-front-image card-image" src="/images/Perfil/messiCr7.png" />
        <div class="card-faders">
            <img class="card-fader card-image" src="/images/Perfil/messiCr7.png" />
            <img class="card-fader card-image" src="/images/Perfil/messiCr7.png" />
            <img class="card-fader card-image" src="/images/Perfil/messiCr7.png" />
            <img class="card-fader card-image" src="/images/Perfil/messiCr7.png" />
            <img class="card-fader card-image" src="/images/Perfil/messiCr7.png" />
            <img class="card-fader card-image" src="/images/Perfil/messiCr7.png" />
            <img class="card-fader card-image" src="/images/Perfil/messiCr7.png" />
            <img class="card-fader card-image" src="/images/Perfil/messiCr7.png" />
        </div>
        </a>
    </div>

    <div class="card" data-color="pink">
        <a th:href="@{/api/userProfile/selectProfilePicture/wonderWoman.png}">
        <img class="card-front-image card-image" src="/images/Perfil/wonderWoman.png" />
        <div class="card-faders">
            <img class="card-fader card-image" src="/images/Perfil/wonderWoman.png" />
            <img class="card-fader card-image" src="/images/Perfil/wonderWoman.png" />
            <img class="card-fader card-image" src="/images/Perfil/wonderWoman.png" />
            <img class="card-fader card-image" src="/images/Perfil/wonderWoman.png" />
            <img class="card-fader card-image" src="/images/Perfil/wonderWoman.png" />
            <img class="card-fader card-image" src="/images/Perfil/wonderWoman.png" />
            <img class="card-fader card-image" src="/images/Perfil/wonderWoman.png" />
            <img class="card-fader card-image" src="/images/Perfil/wonderWoman.png" />
        </div>
        </a>
    </div>

    <div class="card" data-color="brown">
        <a th:href="@{/api/userProfile/selectProfilePicture/aitana.png}">
        <img class="card-front-image card-image" src="/images/Perfil/aitana.png" />
        <div class="card-faders">
            <img class="card-fader card-image" src="/images/Perfil/aitana.png" />
            <img class="card-fader card-image" src="/images/Perfil/aitana.png" />
            <img class="card-fader card-image" src="/images/Perfil/aitana.png" />
            <img class="card-fader card-image" src="/images/Perfil/aitana.png" />
            <img class="card-fader card-image" src="/images/Perfil/aitana.png" />
            <img class="card-fader card-image" src="/images/Perfil/aitana.png" />
            <img class="card-fader card-image" src="/images/Perfil/aitana.png" />
            <img class="card-fader card-image" src="/images/Perfil/aitana.png" />
        </div>
        </a>
    </div>

    <div class="card" data-color="green">
        <a th:href="@{/api/userProfile/selectProfilePicture/mbape.png}">
        <img class="card-front-image card-image" src="/images/Perfil/mbape.png" />
        <div class="card-faders">
            <img class="card-fader card-image" src="/images/Perfil/mbape.png" />
            <img class="card-fader card-image" src="/images/Perfil/mbape.png" />
            <img class="card-fader card-image" src="/images/Perfil/mbape.png" />
            <img class="card-fader card-image" src="/images/Perfil/mbape.png" />
            <img class="card-fader card-image" src="/images/Perfil/mbape.png" />
            <img class="card-fader card-image" src="/images/Perfil/mbape.png" />
            <img class="card-fader card-image" src="/images/Perfil/mbape.png" />
            <img class="card-fader card-image" src="/images/Perfil/mbape.png" />
        </div>
        </a>
    </div>


    <div class="card" data-color="orange">
        <a th:href="@{/api/userProfile/selectProfilePicture/marvel.png}">
        <img class="card-front-image card-image" src="/images/Perfil/marvel.png" />
        <div class="card-faders">
            <img class="card-fader card-image" src="/images/Perfil/marvel.png" />
            <img class="card-fader card-image" src="/images/Perfil/marvel.png" />
            <img class="card-fader card-image" src="/images/Perfil/marvel.png" />
            <img class="card-fader card-image" src="/images/Perfil/marvel.png" />
            <img class="card-fader card-image" src="/images/Perfil/marvel.png" />
            <img class="card-fader card-image" src="/images/Perfil/marvel.png" />
            <img class="card-fader card-image" src="/images/Perfil/marvel.png" />
            <img class="card-fader card-image" src="/images/Perfil/marvel.png" />
        </div>
        </a>
    </div>

    <div class="card" data-color="purple">
        <a th:href="@{/api/userProfile/selectProfilePicture/hamilton.png}">
        <img class="card-front-image card-image" src="/images/Perfil/hamilton.png" />
        <div class="card-faders">
            <img class="card-fader card-image" src="/images/Perfil/hamilton.png" />
            <img class="card-fader card-image" src="/images/Perfil/hamilton.png" />
            <img class="card-fader card-image" src="/images/Perfil/hamilton.png" />
            <img class="card-fader card-image" src="/images/Perfil/hamilton.png" />
            <img class="card-fader card-image" src="/images/Perfil/hamilton.png" />
            <img class="card-fader card-image" src="/images/Perfil/hamilton.png" />
            <img class="card-fader card-image" src="/images/Perfil/hamilton.png" />
            <img class="card-fader card-image" src="/images/Perfil/hamilton.png" />
        </div>
        </a>
    </div>

</div>
</body>
</html>